html {

  background-color: black;
  color: white;
  font-family: Verdana, sans-serif;
  text-align: center;

}

h1 {

  font-weight: normal;
  font-size: 50px;

}

h2 {

  font-weight: 300;
  font-size: 42px;

}

p {

  font-size: 21px;
  color: gray;

}

.link {

  color: aquamarine;
  font-size: 16px;

}

.footer {

  text-align: right;
  color: gray;

}
